* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
:root {
  --primary-color: #ffa84d;
  --primary-rgb: 255, 168, 77;
  --secondary-color: #2564b8;
  --secondary-rgb: 37, 100, 184;
  --third-color: #222222;
  --third-rgb: 34, 34, 34;
  --white: #ffffff;
  --white-rgb: 255, 255, 255;
}
